body,
p,
p.lead {
  font-family: 'Nunito', sans-serif;
}

.gradient-bg {
  height: 100vh;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

h1 {
  font-size: 2.5575rem;
}

.bg-light {
  border-left: 0;
  border-right: 0;
}

.trending {
  border: 1px solid rgba(173, 181, 189, 1);
}

.centered-flex {
  justify-content: center;
  align-items: center;
}

section.jumbotron {
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 70rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-self: flex-end;
}