p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.bg-light {
  border-left: 0;
  border-right: 0;
}

.trending {
  border: 1px solid rgba(173, 181, 189, 1);
}

.centered-flex {
  justify-content: center;
  align-items: center;
}

section.jumbotron {
  padding-top: 10rem;
  padding-bottom: 5rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 70rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}